/* Definição de fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Merriweather:wght@700&display=swap');

/* Fontes para títulos e textos */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

body, p, li {
  font-family: 'Roboto', sans-serif;
}

/* Paleta de cores */
:root {
  --cor-principal: #ffffff; /* Branco */
  --cor-secundaria: #ccc2c2f6; /* Cinza claro */
  --cor-destaque: #805a5a; /* Cinza escuro */
}

/* Reset de estilos para garantir uma aparência consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-destaque);
}

header {
    max-width: 2000px;
    margin: 40px auto;
    background-color: var(--cor-principal);
    border-radius: 5px;
    box-shadow: 0 20px 40px var(--cor-secundaria);
    padding: 20px;
}

/* Estilo da foto no cabeçalho */
#foto img{
    width: 200px;
    height: auto;
    border-radius: 5%;
    margin-bottom: 10px;
}
#curso{
    font-weight: bold;
}
/* Estilo do nome no cabeçalho */
#nome h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilo dos dados de contato no cabeçalho */
#email p {
    margin-bottom: 5px;
}

#email a {
    color: #007bff;
}

#email a:hover {
    color: #000000;
}

section {
    padding: 20px;
    margin-bottom: 5px;
    background-color: var(--cor-principal);
    border-radius: 20px;
}

section h3 {
    margin-bottom: 10px;
}

section div {
    margin-bottom: 10px;
}

footer {
    padding: 10px 20px;
    text-align: center;
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

footer a {
    color: var(--cor-principal);
    margin-right: 10px;
}

footer a:hover {
    color: #000000;
}

/* Menu fixo no topo da página */
nav {
    position: fixed;
    width: 100%;
    background-color: var(--cor-destaque);
    padding: 5px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: var(--cor-principal);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #998d8d;
}

ul{
    margin: 10px;
}


/* Estilos para desktop */
@media (min-width: 769px) {
    /* Estilos para a seção de apresentação */
    #apresentacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #foto img {
        width: 200px;
        height: auto;
        border-radius: 5%;
        margin-bottom: 10px;
    }

    #texto-apresentacao {
        margin-top: 20px; /* Espaço entre a foto e o texto de apresentação */
    }

    #dados-contato {
        margin-top: 20px; /* Espaço entre o texto de apresentação e os dados de contato */
    }
}

/* Estilos para mobile */
@media (max-width: 768px) {
    /* Ajustes para o layout responsivo */
    #header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #foto img {
        width: 150px;
    }

    #texto-apresentacao {
        margin-top: 15px; /* Espaço entre a foto e o texto de apresentação */
    }

    #dados-contato {
        margin-top: 15px; /* Espaço entre o texto de apresentação e os dados de contato */
    }
}
